<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Welcome to WempServer!</title>
<style>a:link{text-decoration:none;color:blue;}a:visited{text-decoration:none;color:blue;}a:hover{text-decoration:underline;color:green;}a:active{text-decoration:none;color:blue;}body{width:560px;margin:0 auto;font-family:Tahoma,Verdana,Arial,sans-serif;}</style>
</head>
<body>
<h1>Welcome to WempServer!</h1>
<p>If you see this page, the WempServer is successfully installed and working. Further configuration is required if necessary.</p>
<p>For online documentation and support please refer to <a href="http://code.ysq.me/p/wempserver/" title="ysq.me" target="_blank">ysq.me</a>.<br />WempServer dashboard is available at <a href="//localhost/WempServer/" title="localhost" target="_blank">localhost</a>.</p>
<p><em>Thank you for using WempServer.</em></p>
</body>
</html>